{{!-- Needs to include user's posts, button to add new post. --}}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="../public/Stylesheets/main.css" />
    <title>Your Posts</title>
  </head>
  <body>
    {{#if posts.length}}
    <section>
        <h2 class="title is-1" id="dashboard-title">Your Dashboard</h2>
        <ul>
            {{#each posts as |post|}}
            <article>
                <div>
                    <div>
                        <div>
                            <p>
                            You posted this on <b>{{created_at}}</b>
                            </p>
                        </div>
                        <div>
                            <a href="/api/posts/{{id}}" class="links">{{title}}</a>
                        </div>
                    </div>
                    <div>
                        <p>{{content}}</p>
                    </div>
                </div>
            </article>
        {{/each}}
        </ul>
    </section>
    {{/if}}
    <section id="make-post">
        <h2 class="title is-2" id="post-title">Make a Post</h2>
        <form action="/api/dashboard" method="POST">
            <div>
                <input type="text" name="title" id="title" placeholder="Title" class="textarea is-primary is-large" rows="3" />
            </div>
            <div>
                <textarea
                name="body"
                id="body"
                cols="35"
                rows="3"
                placeholder="Content"
                class="textarea is-primary"
                ></textarea>
            </div>
            <div>
                <button type="submit" class="button is-light">Submit</button>
            </div>
        </form>
    </section>
</body>