:root {
    --color-primary: #388087;
    --color-secondary: #6FB3B8;
    --color-complimentary: #BADFE7;
    --color-alternative: #C2EDCE;
    --color-white: #ffffff;
}

  /* Background color for the main body */
  body {
    background-color: var(--color-complimentary);
  }
  
  /* Navbar */
  .navbar {
    background-color: var(--color-white);
  }
  
  .navbar-item:hover, .navbar-link:hover {
    background-color: var(--color-secondary);
  }
  
  /* Buttons */
  .button.is-primary, .button.is-link {
    background-color: var(--color-primary);
    border-color: transparent;
    color: white;
  }
  
  #allPosts {
    padding: 25px;
  }

  .button.is-primary:hover, .button.is-link:hover {
    background-color: var(--color-secondary);
    border-color: transparent;
  }
  
  /* Form Box */
  .box {
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  }
  
  /* Tiles (if you use them) */
  .tile.is-ancestor:not(.is-vertical) > .tile.is-parent:hover {
    background-color: var(--color-secondary);
    color: white;
  }
  
  /* Footer */
  .footer {
    background-color: var(--color-primary);
    color: white;
  }
  
  .footer a {
    color: white;
    text-decoration: underline;
  }
  
  .footer a:hover {
    color: var(--color-secondary);
  }
  
  