:root {
    --color-primary: #388087;
    --color-secondary: #6FB3B8;
    --color-complimentary: #BADFE7;
    --color-alternative: #C2EDCE;
    --color-offwhite: #F6F6F2;
}

body {
    background-color: var(--color-complimentary);
}

.navbar {
    background-color: var(--color-primary);
}

.navbar-item:hover, .navbar-link:hover {
    background-color: var(--color-secondary);
}